html, body {
    height: 100%;
  }

body {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: inherit;
}

#clock {
    margin-left: 3rem;
    font-size: 15rem;
    margin-top: 1rem;
}

.footer {
    margin-left: 3rem
}